@import reset

base = rgb(60, 60, 60)
grau = rgb(200, 200, 200)

html
    height 100%
body
    font-family Helvetica, Verdana, 'LiHei Pro', '微軟正黑體', '新細明體', Arial, sans-serif
    color base
    height 100%

    
//////////////////////////  container  ////////////////////////////

#container
    overflow hidden
    height 100%

    

//////////////////////////  aside  ////////////////////////////

#aside
    float left
    width 200px
    height 100%
    background base 
    
//////////////////////////  main  ////////////////////////////

#main
    float left
    
    
//////////////////////////  breadcrumb  ////////////////////////////

#breadcrumb
    position fixed
    width 100%
    height 40px
    background base
