@import "param"

//
//  Elements
//

html  
    overflow-y scroll 
    height 100%

body  
    color #282828
    background url("/images/light_noise_diagonal.png")
    font-family "Droid Sans", Helvetica, "LiHei Pro", "微軟正黑體", Arial, sans-serif
    height 100%
 

a  
    text-decoration none
    color inherit
    
p
    margin 20px 0
    padding 0 20px

    

//
//  Header
//

h1
    color white
    font-size 150%

h2  
    font-size 200%
    font-weight bold
    
    color $blue
    
    margin 40px 0
    padding 0 20px
    
 
h3.heavy
    height 60px
    margin 5px
    font-size 150%
    color white
    background $blue