

//
//  Colors
//

$blue = #334455

$base = rgb(60, 60, 60)
$dim = rgb(120, 120, 120)
$light = rgb(160, 160, 160)
$ghost = #F8F8F8


ditch()
    box-shadow 0 1px 0 white, inset 0 1px 3px rgba(0, 0, 0, 0.5)
    text-shadow 0 1px 1px white