@import "element"
@import "param"





#project-header

    height 80px

    #project-info

        width 860px
        height 80px
        line-height 80px

        float left

        h2
            float left
            font-size 200%
            margin 0 
            line-height 80px
            text-shadow white 2px 2px 2px


        .sub
            float left
            height 80px
            margin 0
            padding 0

            color $base
            font-size 125% 
            line-height 90px

    #project-translate

        height 80px
        line-height 80px

        width 100px

        float left

        button
            font-size 100%
            padding 10px 15px

//
//  Breadcrumb
//


// mixins for the arrows in the breadcrumb
arrowhead(height, color, width = height / 2)

    &:after
        content ''
        display block

        width 0
        height 0
        border-top (height / 2) solid transparent
        border-bottom (height / 2) solid transparent
        border-left (width / 2) solid color

        position absolute

        margin-top -(height)
        left 100%
        z-index 2

arrowbutt(height, color, borderWidth = 1px, width = height / 2)

    border-left borderWidth solid color

    &:before

        content ''
        display block

        width 0
        height 0
        border-top (height / 2) solid transparent
        border-bottom (height / 2) solid transparent
        border-left (width / 2) solid color

        position absolute
        left 0%
        z-index 1



#project-breadcrumb
    
    width 960px
    height 40px

    background $blue
    color white

    overflow hidden

    #breadcrumb-crumbs
        float left
        width 880px
        height 40px

    #breadcrumb-panel
        float left
        width 60px
        height 30px
        padding 5px 10px

        // the icon buttons
        i
            display inline-block
            float left
            width 30px
            height 30px
            line-height 30px
            text-align center
            font-size 120%

            cursor pointer

            color $bluell

            &.active
                color white
            &:hover
                color $ghost

    a
        display block
        float left
        height 40px
        line-height 40px
        padding 0 10px 0 25px
        background $blue

        position relative

        arrowhead(40px, $blue)
        arrowbutt(40px, white, 4px)

        &:hover
            background $bluel
            arrowhead(40px, $bluel)

        &:last-of-type
            &:hover
                background $blue
                arrowhead(40px, $blue)

        &:first-of-type
            padding-left 10px
            arrowbutt(0px, $blue, 0px)

        i
            width 20px

.project-item
    margin 10px 0
    padding 10px
    background $ghost
    color #787878
    cursor pointer
    h3  
        height 40px
        line-height 40px
        color #334455
        font-size 200%
        i  
            height 40px
            line-height 40px
            padding-right 20px
            color #c8c8c8
         
        span  
            padding 0 20px
            font-size 50%
            color #a0a0a0
        
    &:hover
        background white


#project-file

    background white

    > ol > li > a
        display block
        
        background #F8F8F8
        color $base
        font-size 150%
        overflow hidden
        line-height 60px
        padding 0 20px

        &:hover
            background white

    #project-nofile
        text-align center
        color $light

        line-height 60px
        padding 0 20px





//
//  Entry
//

.entry
    > li
        border-bottom 1px solid $ghost
        border-top 1px solid #E8E8E8


        a 
            display block
            padding 20px !important
            line-height 40px


.entry-context
    float left
    width 380px
    padding 0 20px

    line-height 40px


.entry-translation
    float left
    width 380px
    padding 0 20px
    // cursor text    
    line-height 40px

// .entry-chevron
//     float left
//     width 80px
//     height 40px
//     line-height 40px
//     color #DDD
//     text-align center
//     cursor pointer
//     user-select none

//     .expand &
//     &:hover
//         color $light    

// .entry-detail-outer
//     clear both
//     display none
//     padding-top 20px
//     .expand &
//         display block

// .entry-detail
//     display none
//     width 880px
//     padding 0 20px
//     background $base    
//     color white
//     font-size 75%

//     .expand &
//         display block

//     ul
//         overflow hidden
//     li
//         float left
//         width 440px

//         .entry-key
//             font-weight bold
//             color #889
