@import "element"
@import "param"



//
//  List
//

.project-item
    margin 10px 0
    padding 10px
    height 80px
    background $ghost
    color #787878
    cursor pointer
    overflow hidden
    h3  
        float left
        width 500px
        height 40px
        line-height 40px
        color #334455
        font-size 200%
        i  
            height 40px
            line-height 40px
            padding-right 20px
            color #c8c8c8
         
        span  
            padding 0 20px
            font-size 50%
            color #a0a0a0
        
    &:hover
        background white

.stat-panel
    float right
    width 400px
    height 80px

    color $light

    .number-of-files
        width 80px
        height 80px
        line-height 80px

        float right

        i
            display block
            float left
            width 40px
            height 80px
            text-align center

        span
            display block
            float left
            width 40px
            height 80px

        font-size 24px

//
//  Header
//



#project-header

    height 80px

    #project-info

        width 860px
        height 80px
        line-height 80px

        float left

        h2
            float left
            font-size 200%
            margin 0 
            line-height 80px
            text-shadow white 2px 2px 2px


        .sub
            float left
            height 80px
            margin 0
            padding 0

            color $base
            font-size 125% 
            line-height 90px

    #project-translate

        height 80px
        line-height 80px

        width 100px

        float left

        button
            font-size 100%
            padding 10px 15px

//
//  Breadcrumb
//


// mixins for the arrows in the breadcrumb
arrowhead(height, color, width = height / 2)

    &:after
        content ''
        display block

        width 0
        height 0
        border-top (height / 2) solid transparent
        border-bottom (height / 2) solid transparent
        border-left (width / 2) solid color

        position absolute

        margin-top -(height)
        left 100%
        z-index 2

arrowbutt(height, color, borderWidth = 1px, width = height / 2)

    border-left borderWidth solid color

    &:before

        content ''
        display block

        width 0
        height 0
        border-top (height / 2) solid transparent
        border-bottom (height / 2) solid transparent
        border-left (width / 2) solid color

        position absolute
        left 0%
        z-index 1



#project-breadcrumb
    
    width 960px
    height 40px

    background $blue
    color white

    overflow hidden

    #breadcrumb-crumbs
        float left
        width 880px
        height 40px

    #breadcrumb-panel
        float left
        width 60px
        height 30px
        padding 5px 10px

        // the icon buttons
        i
            display inline-block
            float left
            width 30px
            height 30px
            line-height 30px
            text-align center
            font-size 120%

            cursor pointer

            color $bluell

            &.active
                color white
            &:hover
                color $ghost

    a
        display block
        float left
        height 40px
        line-height 40px
        padding 0 10px 0 25px
        background $blue

        position relative

        arrowhead(40px, $blue)
        arrowbutt(40px, white, 4px)

        &:hover
            background $bluel
            arrowhead(40px, $bluel)

        &:last-of-type
            &:hover
                background $blue
                arrowhead(40px, $blue)

        &:first-of-type
            padding-left 10px
            arrowbutt(0px, $blue, 0px)

        i
            width 20px


//
//  Browser
//

#project-browser

    overflow hidden

    background #F8F8F8

    &.list-ordering > ol > li > a

        .browser-item-icon
            width 80px
            float left
            i
                width 80px
                text-align center

        .browser-item-name
            float left
            text-overflow ellipsis

        display block
        color $base
        font-size 200%
        overflow hidden
        line-height 80px

        &:hover
            background white

    &.icon-ordering > ol > li > a

        float left

        width 160px
        height 160px
        margin 20px
        padding 20px


        .browser-item-icon
            width 160px
            height 120px
            line-height 120px
            font-size 600%
            i
                width 160px
                text-align center

        .browser-item-name
            height 40px
            line-height 40px
            font-size 100%
            text-align center
            font-weight bold
            text-overflow ellipsis
            overflow hidden


        // overflow hidden

        &:hover
            background white
            border-radius 10px

    #project-nofile
        text-align center

        width 960px
        height 80px
        line-height 80px
        margin 0 !important
        display block
        color $base
        font-size 150%
        overflow hidden

//
//  Editor
//

#project-editor

    li
        background #F8F8F8
        height 80px
        font-size 150%


    .entry
        > li
            border-bottom 1px solid $ghost
            border-top 1px solid #E8E8E8

    .entry-context
        float left
        width 380px
        height 80px
        line-height 80px
        padding 0 20px


    .entry-translation
        float left
        width 380px
        padding 0 20px
        // cursor text    

        height 80px
        line-height 80px

    .entry-input
        float left
        display none
        width 380px
        padding 0 20px

        height 80px
        line-height 80px

        input
            font-size 100%
// .entry-chevron
//     float left
//     width 80px
//     height 40px
//     line-height 40px
//     color #DDD
//     text-align center
//     cursor pointer
//     user-select none

//     .expand &
//     &:hover
//         color $light    

// .entry-detail-outer
//     clear both
//     display none
//     padding-top 20px
//     .expand &
//         display block

// .entry-detail
//     display none
//     width 880px
//     padding 0 20px
//     background $base    
//     color white
//     font-size 75%

//     .expand &
//         display block

//     ul
//         overflow hidden
//     li
//         float left
//         width 440px

//         .entry-key
//             font-weight bold
//             color #889
