@import "element"
@import "param"

.asidenav

    width 960px
    height 100%

    overflow hidden

    .asidenav-nav
        width 160px
        height 100%
        float left

        padding-top 40px

        background rgba(255, 255, 255, 0.7)

        li
            height 40px
            line-height 40px
            text-align right

            padding 0 20px

            cursor pointer

            &:hover
                // background $bluel
                color $blue
            &.active
                background $blue
                color white

    .asidenav-main
        width 800px
        float left

        background white


    #settings
        form

            margin 20px

            li
                height 60px
                line-height 60px

            label
                width 80px
                height 60px
                line-height 60px
                display inline-block
                float left
                text-align right
                padding 0 10px

            button
                width 210px
                height 40px
                line-height 40px
                margin 10px 
                font-size 120%


            input
                
                height 30px
                line-height 30px

                margin 10px

                float left
                width 200px



