@import "element"
@import "param"

#settings
    form

        margin 20px

        li
            height 60px
            line-height 60px

        label
            width 80px
            height 60px
            line-height 60px
            display inline-block
            float left
            text-align right
            padding 0 10px

        button
            width 210px
            height 40px
            line-height 40px
            margin 10px 
            font-size 120%


        input
            
            height 30px
            line-height 30px

            margin 10px

            float left
            width 200px



