@import "font-awesome"
@import "nib"
global-reset()

@import "element"
@import "param"

@import "project"


@font-face  
    font-family 'Hammersmith One'
    font-style normal
    font-weight normal
    src local('Hammersmith One'), local('HammersmithOne'), url('../fonts/HammersmithOne.woff') format('woff')

@font-face
    font-family 'Droid Sans'
    font-style normal
    font-weight 400
    src local('Droid Sans'), local('DroidSans'), url('../fonts/DroidSans.woff') format('woff')



#header-container  
    height 40px
    background  $blue
 

#header  
    width 960px
    height 40px
    margin 0 auto
    padding 0 20px
    
    
    h1  
        height 40px
        line-height 40px
        colorwhite
        font-size 150%
        font-family "Hammersmith One"
     
 

#breadcrumb-container  
    background rgba(220,220,220,0.8)
 

#breadcrumb-container.fixed  
    width 100%
    position fixed
    top 0
 
#breadcrumb  
    width 960px
    height 40px
    margin 0 auto
    padding 0 20px
    line-height 40px
    font-size 120%
    color $blue
    
    i  
        padding-right 10px
     
    
    li  
        float left
        padding 0 10px
        cursor pointer
     
    lihover  
        background rgba(255,255,255,0.2)
     
 
#main-container  
    margin 0 auto
    padding 20px 0
 
#main-container.fixed  
    padding 60px 0 20px 0
 


#main  
    width 960px
    margin 0 auto
    //padding 0 20px
 


.project-item
    margin 10px 0
    padding 20px
    border-radius 4px
    background #f8f8f8
    //background white
    color #787878
    cursor pointer
    h3  
        height 40px
        line-height 40px
        color #334455
        font-size 200%
        //font-family "Hammersmith One"
        i  
            height 40px
            line-height 40px
            padding-right 20px
            color #c8c8c8
         
        span  
            padding 0 20px
            font-size 50%
            color #a0a0a0
        
    &:hover
        background white
