@import "font-awesome"
@import "nib"
global-reset()

@import "element"
@import "param"

@import "project"
@import "breadcrumb"


@font-face  
    font-family 'Hammersmith One'
    font-style normal
    font-weight normal
    src local('Hammersmith One'), local('HammersmithOne'), url('../fonts/HammersmithOne.woff') format('woff')

@font-face
    font-family 'Droid Sans'
    font-style normal
    font-weight 400
    src local('Droid Sans'), local('DroidSans'), url('../fonts/DroidSans.woff') format('woff')

//
//  HEADER
//


#header-container  
    height 40px
    background  $blue
 

#header  
    width 960px
    height 40px
    margin 0 auto
    padding 0 20px
    
    
    a
        display block

    h1  
        float left

        height 40px
        line-height 40px
        color white
        font-size 150%
        font-family "Hammersmith One"
     
    #login
        float right

        i
            display inline-block
            width 25px
 
        height 40px
        line-height 40px
        color #EEE
        padding 0 10px
        cursor pointer
        user-select none
        

//
//  MAIN
//


#main-container  
    margin 0 auto

#main  
    width 960px
    margin 0 auto
    //padding 0 20px
 

.hero
    background #f8f8f8
    padding 80px 40px
    font-size 200%
    color $blue
    border-radius 4px
    text-align center

//
//  LOGIN
//

#login-back
    position absolute
    top 0
    left 0
    width 100%
    height 500%

    background rgba(0, 0, 0, 0.7)


#login-box

    background url("/images/light_noise_diagonal.png")

    width 400px
    height 300px

    margin 100px auto

    border-radius 6px

    box-shadow black 2px