@import "bootstrap.css"

$white = white
$gray           =       #555;
$grayLight      =       #999;
$grayLighter    =       #eee;
$air            =       #f8f8f8;
$blue           = #334455
$blueLight      = lighten($blue, 10%)
$gold = gold
$goldDark = darken(gold, 20%)

$noise = url('/images/light_noise_diagonal.png')


.blue
    color: $blue !important

.container
    section
        margin: 40px 0

// home
.thumbnail
    height: 200px
    background: $blue
    border: none

#home
    
    #home-hero
        text-align: center
    
    #home-iconset
        font-size: 600%
        color: $grayLight
        padding: 20px

    #home-registration
        background: $noise
        h3
            text-align: center
article > section 
    padding: 40px 0


    &.white
        background: $noise
        color: inherit
        h1
        h2
            color: $blue


    &.gold
        background: $white
        h1
        h2
            color: $blue

    &.blueLight
        background: $blueLight  
        h1
        h2
            color: $grayLighter

    &.blue
        background: $blue
        h1
        h2
            color: $grayLighter
    color: white

#project-list

    li
        height: 100px
        background: $blue
        margin: 20px
        border-radius: 4px

body
    // for the fixed navbar
    padding-top: 40px

    background: $blueLight
    // background: url('/images/light_noise_diagonal.png')