@import "font-awesome.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: normal;
  src: local('Hammersmith One'), local('HammersmithOne'), url('fonts/HammersmithOne.woff') format('woff');
}
html {
  overflow-y: scroll;
}
body {
  color: #282828;
  background: #f0f0f0;
  font-family: Helvetica, "LiHei Pro", "微軟正黑體", Arial, sans-serif;
}
a {
  text-decoration: none;
}
h2 {
  color: #334455;
  font-size: 150%;
  font-weight: bold;
  margin: 20px 0;
  padding: 0 20px;
}
#header-container {
  height: 60px;
  background: #334455;
}
#header {
  width: 960px;
  height: 60px;
  margin: 0 auto;
  padding: 0 20px;
}
#header h1 {
  height: 60px;
  line-height: 60px;
  color: white;
  font-size: 150%;
  font-family: "Hammersmith One";
}
#breadcrumb-container {
  height: 40px;
  background: rgba(200, 200, 200, 0.8);
}
#breadcrumb-container.fixed {
  width: 100%;
  position: fixed;
  top: 0;
}
#breadcrumb {
  width: 960px;
  height: 40px;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 40px;
  color: #334455;
}
#breadcrumb li {
  float: left;
  padding: 0 10px;
  cursor: pointer;
}
#breadcrumb li:hover {
  background: rgba(255, 255, 255, 0.2);
}
#main-container {
  margin: 0 auto;
  padding: 20px 0;
}
#main-container.fixed {
  padding: 60px 0 20px 0;
}
#main {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
.project {
  margin: 40px 0;
  padding: 20px;
  border-radius: 5px;
  background: #f5f5f5;
  color: #787878;
  cursor: pointer;
}
.project h3 {
  height: 40px;
  line-height: 40px;
  color: #334455;
  font-size: 200%;
  font-family: "Hammersmith One";
}
.project h3 i {
  height: 40px;
  line-height: 40px;
  padding-right: 20px;
  color: #c8c8c8;
}
.project h3 span {
  padding: 0 20px;
  font-size: 50%;
  color: #a0a0a0;
}
.project:hover {
  background: white;
}
