@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format('eot'), url("../fonts/fontawesome-webfont.woff") format('woff'), url("../fonts/fontawesome-webfont.ttf") format('truetype'), url("../fonts/fontawesome-webfont.svg#FontAwesome") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  line-height: 0.9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  width: 1.875em;
}
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-check-empty:before {
  content: "\f096";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-phone-sign:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-right:before {
  content: "\f0a4";
}
.icon-hand-left:before {
  content: "\f0a5";
}
.icon-hand-up:before {
  content: "\f0a6";
}
.icon-hand-down:before {
  content: "\f0a7";
}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-sign-blank:before {
  content: "\f0c8";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-user-md:before {
  content: "\f200";
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
html {
  overflow-y: scroll;
  height: 100%;
}
body {
  color: #282828;
  background: url("/images/light_noise_diagonal.png");
  font-family: "Droid Sans", Helvetica, "LiHei Pro", "微軟正黑體", Arial, sans-serif;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 20px 0;
  padding: 0 20px;
}
input {
  border: none;
  padding: 5px;
  margin: 0;
  font-size: 150%;
  -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 1px 1px #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
input.invalid {
  background: #fac8c8;
}
button {
  border: 0;
  background: #345;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background: #41576c;
}
span.hint {
  color: #787878;
}
span.invalid {
  color: #8b0000;
}
menu {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
}
h1 {
  color: #fff;
  font-size: 150%;
}
h2 {
  font-size: 200%;
  font-weight: bold;
  color: #345;
  margin: 40px 0;
  padding: 0 20px;
}
h3 {
  font-size: 150%;
  font-weight: bold;
  color: #345;
  margin: 20px 0;
  padding: 0 20px;
}
html {
  overflow-y: scroll;
  height: 100%;
}
body {
  color: #282828;
  background: url("/images/light_noise_diagonal.png");
  font-family: "Droid Sans", Helvetica, "LiHei Pro", "微軟正黑體", Arial, sans-serif;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 20px 0;
  padding: 0 20px;
}
input {
  border: none;
  padding: 5px;
  margin: 0;
  font-size: 150%;
  -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 1px 1px #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
input.invalid {
  background: #fac8c8;
}
button {
  border: 0;
  background: #345;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background: #41576c;
}
span.hint {
  color: #787878;
}
span.invalid {
  color: #8b0000;
}
menu {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
}
h1 {
  color: #fff;
  font-size: 150%;
}
h2 {
  font-size: 200%;
  font-weight: bold;
  color: #345;
  margin: 40px 0;
  padding: 0 20px;
}
h3 {
  font-size: 150%;
  font-weight: bold;
  color: #345;
  margin: 20px 0;
  padding: 0 20px;
}
#project-header {
  width: 100%;
  height: 80px;
  zoom: 1;
}
#project-header:before,
#project-header:after {
  content: "";
  display: table;
}
#project-header:after {
  clear: both;
}
#project-header h2 {
  float: left;
  font-size: 200%;
  margin: 0;
  line-height: 80px;
  text-shadow: #fff 2px 2px 2px;
}
#project-header .sub {
  float: left;
  height: 80px;
  margin: 0;
  padding: 0;
  color: #3c3c3c;
  font-size: 125%;
  line-height: 90px;
}
#project-breadcrumb {
  height: 40px;
  background: #345;
  color: #fff;
}
#project-breadcrumb ol {
  padding-left: 20px;
}
#project-breadcrumb li {
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
#project-breadcrumb li i {
  width: 20px;
}
#project-breadcrumb li:after {
  content: "/";
}
.project-item {
  margin: 10px 0;
  padding: 10px;
  background: #f8f8f8;
  color: #787878;
  cursor: pointer;
}
.project-item h3 {
  height: 40px;
  line-height: 40px;
  color: #345;
  font-size: 200%;
}
.project-item h3 i {
  height: 40px;
  line-height: 40px;
  padding-right: 20px;
  color: #c8c8c8;
}
.project-item h3 span {
  padding: 0 20px;
  font-size: 50%;
  color: #a0a0a0;
}
.project-item:hover {
  background: #fff;
}
#project-file {
  background: #fff;
}
#project-file > ol > li {
  background: #f8f8f8;
  line-height: 60px;
  padding: 0 20px;
  color: #3c3c3c;
  font-size: 150%;
  overflow: hidden;
}
#project-file > ol > li a {
  display: block;
}
#project-file > ol > li:hover {
  background: #fff;
}
#project-file #project-nofile {
  text-align: center;
  color: #a0a0a0;
}
.entry > li {
  padding: 20px !important;
  border-bottom: 1px solid #f8f8f8;
  border-top: 1px solid #e8e8e8;
  line-height: 40px;
}
.entry > li.expand {
  background: #fff !important;
}
.entry-context {
  float: left;
  width: 380px;
  padding: 0 20px;
  line-height: 40px;
}
.entry-translation {
  float: left;
  width: 380px;
  padding: 0 20px;
  cursor: text;
  line-height: 40px;
}
.entry-chevron {
  float: left;
  width: 80px;
  height: 40px;
  line-height: 40px;
  color: #ddd;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.expand .entry-chevron,
.entry-chevron:hover {
  color: #a0a0a0;
}
.entry-detail-outer {
  clear: both;
  display: none;
  padding-top: 20px;
}
.expand .entry-detail-outer {
  display: block;
}
.entry-detail {
  display: none;
  width: 880px;
  padding: 0 20px;
  background: #3c3c3c;
  color: #fff;
  font-size: 75%;
}
.expand .entry-detail {
  display: block;
}
.entry-detail ul {
  overflow: hidden;
}
.entry-detail li {
  float: left;
  width: 440px;
}
.entry-detail li .entry-key {
  font-weight: bold;
  color: #889;
}
html {
  overflow-y: scroll;
  height: 100%;
}
body {
  color: #282828;
  background: url("/images/light_noise_diagonal.png");
  font-family: "Droid Sans", Helvetica, "LiHei Pro", "微軟正黑體", Arial, sans-serif;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 20px 0;
  padding: 0 20px;
}
input {
  border: none;
  padding: 5px;
  margin: 0;
  font-size: 150%;
  -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 1px 1px #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
input.invalid {
  background: #fac8c8;
}
button {
  border: 0;
  background: #345;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background: #41576c;
}
span.hint {
  color: #787878;
}
span.invalid {
  color: #8b0000;
}
menu {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
}
h1 {
  color: #fff;
  font-size: 150%;
}
h2 {
  font-size: 200%;
  font-weight: bold;
  color: #345;
  margin: 40px 0;
  padding: 0 20px;
}
h3 {
  font-size: 150%;
  font-weight: bold;
  color: #345;
  margin: 20px 0;
  padding: 0 20px;
}
#registration form {
  margin: 20px;
}
#registration form li {
  height: 60px;
  line-height: 60px;
}
#registration form label {
  width: 80px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  float: left;
  text-align: right;
  padding: 0 10px;
}
#registration form button {
  width: 210px;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  font-size: 120%;
}
#registration form input {
  height: 30px;
  line-height: 30px;
  margin: 10px;
  float: left;
  width: 200px;
}
html {
  overflow-y: scroll;
  height: 100%;
}
body {
  color: #282828;
  background: url("/images/light_noise_diagonal.png");
  font-family: "Droid Sans", Helvetica, "LiHei Pro", "微軟正黑體", Arial, sans-serif;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 20px 0;
  padding: 0 20px;
}
input {
  border: none;
  padding: 5px;
  margin: 0;
  font-size: 150%;
  -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 1px 1px #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
input.invalid {
  background: #fac8c8;
}
button {
  border: 0;
  background: #345;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background: #41576c;
}
span.hint {
  color: #787878;
}
span.invalid {
  color: #8b0000;
}
menu {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
}
h1 {
  color: #fff;
  font-size: 150%;
}
h2 {
  font-size: 200%;
  font-weight: bold;
  color: #345;
  margin: 40px 0;
  padding: 0 20px;
}
h3 {
  font-size: 150%;
  font-weight: bold;
  color: #345;
  margin: 20px 0;
  padding: 0 20px;
}
#settings form {
  margin: 20px;
}
#settings form li {
  height: 60px;
  line-height: 60px;
}
#settings form label {
  width: 80px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  float: left;
  text-align: right;
  padding: 0 10px;
}
#settings form button {
  width: 210px;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  font-size: 120%;
}
#settings form input {
  height: 30px;
  line-height: 30px;
  margin: 10px;
  float: left;
  width: 200px;
}
@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: normal;
  src: local('Hammersmith One'), local('HammersmithOne'), url("../fonts/HammersmithOne.woff") format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url("../fonts/DroidSans.woff") format('woff');
}
#header-container {
  height: 40px;
  background: #345;
}
#header {
  width: 960px;
  height: 40px;
  margin: 0 auto;
  padding: 0 20px;
}
#header a {
  display: block;
}
#header h1 {
  float: left;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 150%;
  font-family: "Hammersmith One";
}
#main-container {
  margin: 0 auto;
  padding-bottom: 60px;
}
#main {
  width: 960px;
  margin: 0 auto;
}
.hero {
  background: #f8f8f8;
  padding: 40px;
  margin: 40px 10px 20px;
  font-size: 200%;
  color: #345;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.hero h2 {
  color: #345;
  margin: 20px 0;
}
.hero #hero-content {
  overflow: hidden;
}
.hero #hero-text {
  float: left;
  width: 600px;
  color: #3c3c3c;
}
.hero #hero-register {
  margin: 20px 0;
  background: #345;
  padding: 20px;
  text-align: center;
  color: #fff;
  float: left;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 140px;
  cursor: pointer;
}
.hero #hero-register:hover {
  background: #41576c;
}
.hero #hero-register i {
  color: #fff;
  margin-left: 20px;
}
.main-block {
  width: 420px;
  height: 140px;
  float: left;
  margin: 20px 10px;
  padding: 20px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #f8f8f8;
  cursor: pointer;
}
.main-block:hover {
  background: #fcfcff;
}
.main-block:hover .main-chevron {
  color: #a0a0a0;
}
.main-block h2 {
  color: #345;
  margin: 20px 0;
}
.main-block p {
  color: #3c3c3c;
  font-size: 150%;
}
.main-body {
  float: left;
  width: 380px;
  height: 140px;
}
.main-chevron {
  float: left;
  width: 40px;
  height: 140px;
  line-height: 140px;
  color: #ddd;
  font-size: 300%;
}
#account {
  float: right;
  width: 130px;
}
#account i {
  float: left;
  text-align: center;
  display: inline-block;
  width: 30px;
}
.account-label {
  float: left;
  width: 70px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  color: #eee;
}
#account-panel {
  width: 120px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  color: #eee;
  cursor: pointer;
}
#account-panel:hover,
.active #account-panel {
  cursor: default;
  background: #3c3c3c;
}
#account-panel.unauthorized:hover {
  background: #293644;
}
#account-menu {
  float: left;
  display: none;
  margin-top: -1px;
}
#account-menu i {
  height: 40px;
}
#account-menu li {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  background: #3c3c3c;
  cursor: pointer;
  color: #eee;
}
#account-menu li:hover {
  background: #2e3d4d;
}
.active #account-menu {
  display: block;
}
#signin-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500%;
  background: rgba(0,0,0,0.7);
}
#signin-box {
  background: url("/images/light_noise_diagonal.png");
  width: 400px;
  height: 230px;
  padding: 20px 40px;
  margin: 100px auto;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: #000 2px;
  box-shadow: #000 2px;
}
#signin-box form {
  width: 400px;
}
#signin-box form div {
  margin: 20px 0;
}
#signin-box [type='text'],
#signin-box [type='password'] {
  width: 380px;
  height: 40px;
  padding: 5px 10px;
  font-size: 200%;
  line-height: 40px;
  -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 1px 1px #fff;
}
#signin-box button {
  width: 400px;
  height: 50px;
  color: #fff;
  background: #345;
  padding: 5px 10px;
  font-size: 150%;
  line-height: 40px;
}
#signin-box button:hover {
  background: #41576c;
}
#signin-box button:active {
  background: #345;
}
.api {
  font-family: "Lucida Grande", "Lucida Grande Unicode", "Helvetica", sans-serif;
  margin: 20px;
}
.api h3 {
  font-size: 200%;
  padding: 20px 0;
  border-bottom: 6px solid #345;
}
.api h4 {
  height: 40px;
  line-height: 40px;
  margin: 20px 0 10px;
  font-weight: bold;
  font-size: 150%;
}
.api h5 {
  margin: 10px 0;
  font-weight: bold;
}
.api pre {
  padding: 10px 20px;
  margin: 10px 0;
  color: #fff;
  background: #3c3c3c;
}
.api p {
  padding: 0;
}
.api .api-request {
  padding: 10px 20px;
  margin-bottom: 20px;
  display: inline-block;
  background: #345;
  color: #fff;
}
.api > section {
  padding: 20px 40px 40px;
  background: #fff;
}
