@import "bootstrap.css";
.block {
  display: block;
}
.block:hover {
  text-decoration: none;
}
.blue {
  color: #47a !important;
}
.gold {
  color: #e6c200 !important;
}
.container section {
  margin: 40px 0;
}
.thumbnail {
  height: 200px;
  border: none;
}
#home #home-hero {
  text-align: center;
}
#home #home-iconset {
  font-size: 600%;
  color: #555;
  padding: 20px;
}
#home #home-registration {
  background: #555;
}
#home #home-registration h3 {
  text-align: center;
}
article > section {
  padding: 40px 0;
}
article > section.red {
  background: #844;
}
article > section.red h1,
article > section.red h2 {
  color: #fff;
}
article > section.gray {
  background: #555;
}
article > section.gray h1,
article > section.gray h2 {
  color: #fff;
}
article > section.gold {
  background: #e6c200;
}
article > section.gold h1,
article > section.gold h2 {
  color: #555;
}
article > section.blueLight {
  background: #5085b9;
}
article > section.blueLight h1,
article > section.blueLight h2 {
  color: #ccc;
}
article > section.blue {
  background: #47a;
}
article > section.blue h1,
article > section.blue h2 {
  color: #ccc;
}
#bar-container {
  padding: 0;
  height: 40px;
  margin: 0;
}
#bar {
  width: 100%;
  height: 40px;
  background: url("/images/light_noise_diagonal.png");
}
#bar.fixed {
  position: fixed;
  top: 0;
}
ul.sticker li {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 6px #ccc;
  box-shadow: 1px 1px 6px #ccc;
}
.project-list-item {
  margin: 20px 0;
  padding: 0 0 !important;
}
.project-list-item a {
  padding: 10px 20px;
  height: 100px;
  background: #f8f8f8;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.project-list-item a:hover {
  background: #fff;
}
.project-list-item .header {
  display: inline-block;
  width: 240px;
}
.project-list-item .body {
  display: inline-block;
  width: 660px;
}
body {
  background: url("/images/light_noise_diagonal.png");
}
