@import "bootstrap.css";
.blue {
  color: #345 !important;
}
.container section {
  margin: 40px 0;
}
.thumbnail {
  height: 200px;
  background: #345;
  border: none;
}
#home #home-hero {
  text-align: center;
}
#home #home-iconset {
  font-size: 600%;
  color: #999;
  padding: 20px;
}
#home #home-registration {
  background: url("/images/light_noise_diagonal.png");
}
#home #home-registration h3 {
  text-align: center;
}
article > section {
  padding: 40px 0;
  color: #fff;
}
article > section.white {
  background: url("/images/light_noise_diagonal.png");
  color: inherit;
}
article > section.white h1,
article > section.white h2 {
  color: #345;
}
article > section.gold {
  background: #fff;
}
article > section.gold h1,
article > section.gold h2 {
  color: #345;
}
article > section.blueLight {
  background: #41576c;
}
article > section.blueLight h1,
article > section.blueLight h2 {
  color: #eee;
}
article > section.blue {
  background: #345;
}
article > section.blue h1,
article > section.blue h2 {
  color: #eee;
}
#project-list li {
  height: 100px;
  background: #345;
  margin: 20px;
  border-radius: 4px;
}
body {
  padding-top: 40px;
  background: #41576c;
}
