<a href="{{urn}}/{{id}}/translate" alt="translate">
    <div class="entry-context">
        {{context}}
    </div>
    <div class="entry-translation">
        {{translation}}
    </div>
</a>
<!-- <div class="entry-chevron">
    <i class="icon-chevron-down"></i>
</div> -->
<!-- <div class="entry-detail-outer">
    <div class="entry-detail">
        <ul>
            <li><span class="entry-key">id </span>{{id}}</li>
            <li><span class="entry-key">extracted_comments </span>{{extracted_comments}}</li>
            <li><span class="entry-key">flag </span>{{flag}}</li>
            <li><span class="entry-key">msgctxt </span>{{msgctxt}}</li>
            <li><span class="entry-key">msgid </span>{{msgid}}</li>
            <li><span class="entry-key">msgid_plural </span>{{msgid_plural}}</li>
            <li><span class="entry-key">msgstr </span>{{msgstr}}</li>
            <li><span class="entry-key">translator_comment </span>{{translator_comment}}</li>
            <li><span class="entry-key">created_at </span>{{created_at}}</li>
            <li><span class="entry-key">updated_at </span>{{updated_at}}</li>
        </ul>
    </div>
</div> -->