
<section >
    <div class="container">
        <h1 class="blue">Tryneeds 是什麼?</h1>
        <div class="row">
            <div class="span6">
                <h2 class="lead">自由軟體中文化的翻譯平台<br>快加入自由軟體中文化的行列吧！</h2>
            </div>
            <div class="span6">
                <a href="/registration" class="btn btn-extra-large btn-primary">註冊 <i class="icon-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="blueLight">
    <div class="container">
        <h2>專案列表<small></small></h2>
        <ul class="thumbnails">
            <li class="span3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/300x200" alt="">
                </a>
            </li>
            <li class="span3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/300x200" alt="">
                </a>
            </li>
            <li class="span3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/300x200" alt="">
                </a>
            </li>
            <li class="span3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/300x200" alt="">
                </a>
            </li>
            <li class="span3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/300x200" alt="">
                </a>
            </li>
            <li class="span3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/300x200" alt="">
                </a>
            </li>
            <li class="span3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/300x200" alt="">
                </a>
            </li>
            <li class="span3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/300x200" alt="">
                </a>
            </li>
        </ul>   
    </div>
</section>
<section class="blue">
    <div class="container">
        <h2>專案列表<small></small></h2>
    </div>
</section>
<a href="/project">projects</a>