<section id="home">
	<section class="hero">
		<h2>Tryneeds 是什麼?</h2>
        <div id="hero-content">
            <p id="hero-text">
                自由軟體中文化的翻譯平台<br>
                快加入自由軟體中文化的行列吧！
            </p>
            <a href="/registration">
            <div id="hero-register">
                註冊 <i class="icon-chevron-right"></i>
            </div>
            </a>
        </div>

	</section>
    <section class="main-block">
        <a href="/project">
            <div class="main-body">
                <h2><i class="icon-list"></i> 專案列表</h2>
                <p>目前加入計畫的所有專案</p>
            </div>
            <div class="main-chevron">
                <i class="icon-chevron-right"></i>
            </div>
        </a>
    </section>
    <section class="main-block">
        <a href="/api_reference">
            <div class="main-body">
                <h2><i class="icon-book"></i> API</h2>
                <p>後端 API 服務檢索與使用說明</p>
            </div>
            <div class="main-chevron">
                <i class="icon-chevron-right"></i>
            </div>
        </a>
    </section>
</section>
