<section class="asidenav"> 
    <nav class="asidenav-nav">
        <ul>
            <li class="active">基本資料</li>
            <li>帳號 & 密碼</li>
        </ul>
    </nav>
    <section class="asidenav-main" id="settings">
        <h2>設定</h2>
        <form id="form">
            <ul>
                <li>
                    <label for="username">帳號名稱</label>
                    <input id="username" pattern=".{3,}" required>
                    <span class="hint"></span>
                </li>
                <li>
                    <label for="email">信箱</label>
                    <input id="email" type="email" required>
                    <span class="hint"></span>
                </li>
                <li>
                    <label for="password">舊密碼</label>
                    <input id="password"  pattern=".{6,}"  type="password" required>
                    <span class="hint"></span>
                </li>
                <li>
                    <label for="new-password">新密碼</label>
                    <input id="new-password"  pattern=".{6,}"  type="password" required>
                    <span class="hint"></span>
                </li>
                <li>
                    <label for="password-confirmation">密碼確認</label>
                    <input id="password-confirmation"  pattern=".{6,}"  type="password" required>
                    <span class="hint"></span>
                </li>
                <li>
                    <label for="submit"></label>
                    <button type="submit" id="submit">更新</button>
                    <span class="hint"></span>
                </li>
            </ul>
        </form>
    </section>
</section>