<div id="signin-mask">
    <section id="signin-box">
        <form>
            <div>
                <input id="signin-username" placeholder="帳號" type="text">
            </div>
            <div>
                <input id="signin-password" placeholder="密碼" type="password">
            </div>
            <div>
                <checkbox id="signin-remember" label="記住帳號密碼" checked="true">
            </div>
            <div>
                <button id="signin-button">登入</button>
            </div>
        </form>
    </section>
</div>
