@import 'compass/reset', 'compass/css3', 'compass/utilities'

@font-face
    font:
        family: 'Hammersmith One'
        style: normal
        weight: normal
    src: local('Hammersmith One'), local('HammersmithOne'), url('fonts/HammersmithOne.woff') format('woff')


$navigation-height: 40px
    
//
//  Farben
//
$base: rgb(40, 40, 40)


//
//  MIXINS
//


@mixin breite($offset: 0px)
    .kleine &
        min-width: 800px + $offset
        max-width: 1000px + $offset
    .grosse &
        width: 1400px + $offset

@mixin arrow
    background:
        image: url('../images/arrow/arrow.png')
        size: auto 40px
        position: right
        repeat: no-repeat

//
//  General
//

    
body
    font-family: Helvetica, Verdana, 'LiHei Pro', '微軟正黑體', '新細明體', Arial, sans-serif
    background: rgb(240, 240, 240)
    
a
    +unstyled-link

//
//  Navigation
//

#container-navigation
    position: fixed
    width: 100%
    height: $navigation-height
    
    background: $base

#navigation
    +clearfix
    +breite
    height: $navigation-height
    margin: 0 auto
    
    color: white
    font-family: 'Hammersmith One', sans-serif
    
    h1
        +float-left
        width: 198px
        height: $navigation-height
        border-right: 2px solid darken($base, 10%)
        
        line-height: $navigation-height
        font-size: 150%
        text-align: center
        +text-shadow(rgb(100, 100, 100), 2px, 2px, 0px)
        
    nav
        +float-left
        +breite(-202px)
        height: $navigation-height
        border-left: 2px solid lighten($base, 10%)
        
    li
        +float-left
        +arrow()
        height: $navigation-height
        padding: 0 20px 0 10px
        
        line-height: $navigation-height
        
        
//
//  Main
//


#container
    padding-top: $navigation-height
    +clearfix
    +breite()
    height: 1000px
    margin: 0 auto
    background: white
    
    
