@import 'compass/reset'
@import 'compass/css3'
@import 'compass/utilities'

@import "font-awesome"

@font-face
    font:
        family: 'Hammersmith One'
        style: normal
        weight: normal
    src: local('Hammersmith One'), local('HammersmithOne'), url('fonts/HammersmithOne.woff') format('woff')


//
//  Colours
//

$himmel:    #334455
$geld:      #FCC427

@function grey($v)
    @return rgb($v, $v, $v)


//
//  Main Structure
//

body
    color: grey(40)
    background: grey(240)
    
    
//
//  Header
//

#header-container
    height: 60px
    background: $himmel
    

#header
    width: 1000px
    height: 60px
    margin: 0 auto
    
    h1
        height: 60px
        line-height: 60px
        color: white
        font:
            size: 150%
            family: 'Hammersmith One'

  
//
//  Breadcrumb
//



#breadcrumb-container
    height: 40px
    background: rgba(200, 200, 200, 0.8)
    
    &.fixed
        width: 100%
        position: fixed
        top: 0
    
#breadcrumb
    width: 1000px
    height: 40px
    margin: 0 auto
    line-height: 40px
    
    color: $himmel
    
    li
        float: left
        padding: 0 10px
        cursor: pointer
        
        
        &:hover
            background: grey(210)

//
//  Main    
//


    
#main-container
    height: 1000px
    margin: 0 auto
    
#main

    width: 1000px
