<ol id="breadcrumb-crumbs">
    <a href="#project/{{projectName}}/file/{{filepath}}">
        <li>
            <i class="icon-book"></i>
        </li>
    </a>
    {{#crumbs}}
    <a href="#project/{{projectName}}/file/{{segment}}">
        <li>
        {{pathname}}
        </li>        
    </a>
    {{/crumbs}}
</ol>
<div id="breadcrumb-panel">
    <i id="button-list-ordering" class="icon-reorder {{#listOrdering}}active{{/listOrdering}}"></i>
    <i id="button-icon-ordering" class="icon-th {{^listOrdering}}active{{/listOrdering}}"></i>
</div>