<ol>
    {{^isFile}}
        {{#files}}
        <li>
            <a href="#project/{{projectName}}/file/{{root}}{{name}}">
                {{#folder}}
                <div class="browser-item-icon">
                    <i class="icon-folder-close"></i>
                </div>
                <div class="browser-item-name">
                    {{name}}
                </div>
                {{/folder}}
                {{^folder}}
                <div class="browser-item-icon">
                    <i class="icon-file"></i>
                </div>
                <div class="browser-item-name">
                    {{name}}
                </div>          
                {{/folder}}
            </a>
        </li>
        {{/files}}
        {{^files}}
        <li id="project-nofile">
            沒有檔案
        </li>
        {{/files}}
    {{/isFile}}
</ol>