<section class="gold">
    <div class="container">
        <div class="row">
            <div class="span3">        
                <h1>專案列表</h1>
            </div>
            <div class="span3">        
<!--                 <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-search"></i></span>
                    <input class="span2" id="appendedPrependedInput" type="text">
                </div>
 -->            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <ul class="unstyled inline">
            <li class="span6">...</li>
            <li class="span6">...</li>
            <li class="span6">...</li>
            <li class="span6">...</li>
            <li class="span6">...</li>
            <li class="span6">...</li>
            <li class="span6">...</li>
        </ul>
    </div>
</section>
